boto3==1.9.247
gensim==3.4.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.3
jupyterlab-server==0.2.0
lxml==4.2.5
matplotlib==3.0.2
notebook==5.7.4
numpy==1.16.4
pandas==0.23.4
requests==2.21.0
scikit-learn==0.20.2
scipy==1.1.0
sklearn==0.0
torch==1.0.0
torchvision==0.2.1
tornado==5.1.1
tqdm==4.28.1
virtualenv==16.7.5
